.product_section {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  
    .heading {
      align-self: center;
    }

    .all_reviews {
        background-color:blue;
        color: white;
    }

    .new_review {
        background-color:green;
        color: white;
    }
  
    .products {
      display: grid;
      gap: 2em;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .product {
      padding: 15px 30px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
  }
  